<div class="card">
    <div class="card-header">
        {{pageTitle}} <!--Interpolation {{template expression -> convert to string}}-->
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" 
                        [(ngModel)]="listFilter" /> <!--2-way binding [()]-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter by: {{listFilter}} </h4> <!--Data binding to retrieve data-->
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class = "btn btn-primary"
                            (click)="toggleImage()"><!--Event binding-->
                                {{showImage ? 'Hide' : 'Show'}} Image <!--Interpolation with conditional statement-->
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts"> <!--table row & children are repeated for each product in the list of products. Template input variable -> product-->
                        <td>
                            <!--Property binding. One way binding. *ngIf is for event binding-->
                            <img  [src] = 'product.imageUrl' *ngIf='showImage' [title] = 'product.productName' 
                            [style.width.px] = imageWidth [style.margin.px] = imageMargin>
                        </td>
                        <td>
                                            <!--path url,parameter values-->
                            <a [routerLink]="['/products', product.productId]">{{ product.productName}}<!-- Interpolation (Data binding). No quotation.--></a> <!--Passing parameter to Route-->
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces:'-'}}</td> <!--Pipe (|). Custom Pipe (convertToSpaces) -->
                        <td>{{ product.releaseDate}}</td>
                        <td>{{ product.price | currency:'USD':'symbol': '1.2-2'}}</td> <!--Pipe with parameter-->
                        <td><pm-star [rating] = 'product.starRating' (ratingClicked) = 'onRatingClicked($event)'></pm-star></td> <!--Nested component. @Input() w/ property binding. 3rd for @Output: $event is the passed data from the emit() of the onClick()-->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>